.rankWrap {
    h2 {
        font-size: 1.8rem;
    }
    span {
        font-weight: 600;
    }
    .rankBarWrap {
        position: relative;
        width: 220px;
        .rankBars {
            position: absolute;
            top: -5px;
            left: 0;
            height: 7px;
        }
        .rankGrayBar {
            width: 100%;
            background-color: #d9d9d9;
        }
        .rankBlueBar {
            z-index: 100;
            width: 130px;
            background-color: #21b5ff;
        }
    }
    p {
        color: #21b5ff;
        font-size: 1.3rem;
    }
}
